<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PebbleComTest</name>
    <description>
        Test cordova communication with Pebble watch.
    </description>
    <author email="konsumer@jetboystudio.com" href="http://jetboystudio.com">
        David Konsumer
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
